PORT = #Puerto de conexion al servidor

DB_host: #Host donde corre la base de datos
DB_port: #Puerto de conexión de PostgreSQ,
DB_username: #Usuario de la base de datos,
DB_password: #Contraseña del usuario de la base de datos,
DB_database: #Nombre de la base de datos a utilizar,
DB_logging: #Nivel de logging de TypeORM,
DB_synchronize: #Sincroniza automáticamente las entidades con la base,
DB_dropSchema: #Elimina y recrea el esquema en cada arranque,